# Unsetting the text attribute on a path tells Git not to attempt any end-of-line conversion upon checkin or checkout
* -text

# Custom for Visual Studio
*.cs     -text diff=csharp
*.csproj -text merge=union
*.sln    -text merge=union eol=crlf
